.sidebar {
    height: 75vh;
    position: -webkit-sticky;
    position: sticky;
    top: 20%;
    margin-left: 10px;
}


.sidebar a {
    padding: 6px 8px 6px 10px;
    text-decoration: none;
    font-size: 16px;
    display: block;
    color: #e6e6e6;
}

.sidebar ul {
    list-style: none;
    margin-left: 5px;
}

.post-by-sidebar {
    /* width: 80% */
}

.sidebar-container {
    display: flex;
    justify-content: space-between;
}
